body {
  background: #cdd6e8;
  background: -webkit-linear-gradient( to bottom, #f7f7f7, #cdd6e8);
  background: linear-gradient(180deg, #f7f7f7, #cdd6e8) no-repeat fixed;
}

.hero .hero-body {
  padding: 4rem !important;
}

div#contruction-container {
  margin-top: -60px;
}

img#landing-logo {
  margin-bottom: 10px;
}
.clearfix {zoom: 1;}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

section {
    padding: 80px 0;
}

/*---------------------------------------------------------------*/
/* HOME PAGE */
/*---------------------------------------------------------------*/

header {
    background-image: url(background1.png);
    background-size: cover;
    height: 90vh;
}

.home-subtext {
    font-size: 25px;
    color: grey;
    margin-top: 30px;
    margin-left: 25px;
}

.head-logo {
    margin-top: 216px;
    margin-left: 25px;
    width: 40%;
}

.home-text {
    text-transform: uppercase;
    margin-left: 55px;
    font-size: 45px;
}

.top-logo {
    width: 110px;
    height: 110px;
    margin-left: 35px;
    margin-top: 10px;
}

.main-nav {
    float: left;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    margin-right: 25px;
    border: 1px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #6D6CDE;
}

/*---------------------------------------------------------------*/
/* COMMENTS PAGE */
/*---------------------------------------------------------------*/

.page-head {
    padding: 0 25px;
}

.dummy {
    float:left;
    padding: 0 30px;
}






