/*---------------------------------------------------------------*/
/* MODS TO CIRRUS-UI */
/*---------------------------------------------------------------*/
.hero .hero-body {
  padding: 4rem !important;
}

.header-clear-mod {
  background-color: transparent;
  box-shadow: none;
  margin: 2.5rem 5rem;
  width: calc(100vw - 10rem);
}

.header:not(.header-clear) .nav-item:not(.no-hover).hovered, .header:not(.header-clear) .nav-item:not(.no-hover):hover {
  background-color: transparent !important;
}

a:focus {
  box-shadow: none !important;
}

.u::after {
  height: .15rem !important;
  background: #6680c1 !important;
}

.btn.btn-info, [type=button].btn-info, [type=reset].btn-info, [type=submit].btn-info, button.btn-info {
  --btn-color: #7acf6f;
  --btn-fg: var(--cirrus-light);
  --btn-border-color: none;
}

[class*=' btn-']:not(.btn-container):not(.btn-close):hover, [class^=btn-]:not(.btn-container):not(.btn-close):hover {
  background-color: #4bb13e;
  transition: all var(--animation-duration);
}

.placeholder {
  background-color: #f8f8f8;
}

.header .nav-item a#home-nav {
  padding: 0 !important;
}

.u-center {
  margin-left: -2vw !important;
}

.divider {
  margin: 1.2rem 0 !important;
}

.card {
  margin-bottom: 0 !important;
}

/*---------------------------------------------------------------*/
/* UNIVERSAL STYLES */
/*---------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
  overflow: visible;
}

body {
  background: #e7eefa;
  background: -webkit-linear-gradient(to bottom, #f7f7f7, #e7eefa);
  background: linear-gradient(135deg, #f7f7f7, #e7eefa) no-repeat fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  font-size: 1.1em !important;
  color: #6680c1 !important;
}

button {
  font-size: 1.1em;
  font-family: 'Noto Sans', sans-serif !important;
  font-weight: 600;
  text-transform: capitalize !important;
}

footer {
  background-color: rgb(3, 7, 16, 0.8) !important;
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.section {
  min-height: 100vh;
  width: 100%;
  padding: 130px 5rem 15px 5rem;
  align-items: center;
  display: flex;
}

.section-content {
  background-color: #fefefe;
  height: 100%;
  width: 100%;
}

img#blue-blob {
  position: fixed;
  z-index: -99;
  left: -40vw;
  top: -10vw;
  opacity: 0.3;
}

.card-head h3 {
  margin: 1.1rem;
  font-weight: 800;
}

.icon-title {
  margin-right: 25px;
}

.card-content {
  margin: 0.6rem 1.1rem;
}

.social-link {
  font-size: 25px !important;
  margin-right: 10px;
}

.header-menu-s, #return2 {
  position: absolute;
}

/*---------------------------------------------------------------*/
/* NAV BAR */
/*---------------------------------------------------------------*/
img#nav-logo {
  height: 5vh;
}

.nav-w-bg {
  padding: 12px 12px;
  background: rgba(249, 249, 249, 0.95);
  border-radius: 10px;
  box-shadow: 0 3px 27px rgba(27, 10, 27, 0.2);
  backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}

div#dropdown {
  position: fixed !important;
  z-index: 99;
  align-items: baseline;
  min-height: 0 !important;
}

div#dropdown>.section-content {
  text-align: center;
  background: rgba(249, 249, 249, 0.95);
  border-radius: 10px;
  box-shadow: 0 3px 27px rgba(27, 10, 27, 0.2);
  backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}

div#dropdown>.section-content>.card-content {
  margin-top: 20px;
}

/*---------------------------------------------------------------*/
/* HOME PAGE */
/*---------------------------------------------------------------*/
div#home {
  height: 100%;
}

div#house-container {
  float: right;
  position: relative;
  width: 50% !important;
  height: 100%;
}

div#branding-container {
  float: left;
  position: relative;
  width: 50%;
  height: 100%;
}

div#branding-container-s {
  position: relative;
  width: 100%;
  height: 100%;
}

div#branding {
  bottom: 6vh;
  position: absolute;
}

div#branding-s {
  top: 25vh;
  position: absolute;
  text-align: center;
}

img#home-img {
  transform: scale(1.15);
  padding-top: 10vh;
  position: absolute;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

img#home-logo {
  width: 30vw;
  position: relative;
}

h1#home-text {
  font-size: 6vw;
  font-family: 'Noto Sans', sans-serif;
  color: #6680c1;
  letter-spacing: -12px;
  margin-top: -1vh;
  margin-left: -.25vw;
}

p#home-subtext {
  color: #374054;
  margin: -3.5vh 0 0 0.5vw;
  font-size: 2vw;
  font-family: 'Arapey', serif;
  font-style: oblique;
  letter-spacing: -1px;
}

h1#home-text-s {
  font-family: 'Noto Sans', sans-serif;
  color: #6680c1;
  margin-left: -.25vw;
  font-size: 4rem;
}

p#home-subtext-s {
  color: #374054;
  margin: -2vh 0 0 0.5vw;
  font-family: 'Arapey', serif;
  font-style: oblique;
  font-size: 1.2rem
}

.top-logo {
  width: 110px;
  height: 110px;
  margin-left: 35px;
  margin-top: 10px;
}

.main-nav {
  float: left;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}

/*---------------------------------------------------------------*/
/* KEYFRAMES, WEBKIT ETC. */
/*---------------------------------------------------------------*/
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 836px) {
  .header-clear-mod {
    margin: 1rem !important;
    width: calc(100vw - 2rem) !important;
  }

  .section {
    padding: 110px 1rem 15px 1rem !important;
  }
}

@media only screen and (max-width: 1206px) {
  .header-menu-lg, #return1 {
    display: none;
  }

  .header-menu-s, #return2 {
    display: inline-block;
  }
}

@media only screen and (min-width: 1206px) {
  .header-menu-lg {
    display: inline-block;
  }

  .header-menu-s {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header .header-nav {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    text-align: center;
    width: 100%;
    top: 0;
    overflow: visible;
    height: auto !important;
  }

  .header .header-nav .nav-item {
    padding: 0 !important;
  }

  .header-menu-s {
    top: -6.1vh !important;
    right: 1rem !important;
  }

  #return2 {
    top: -6vh !important;
    right: 1rem !important;
  }
}

@media screen and (min-width: 769px) {
  .header .nav-item a#dropdown-btn {
    padding: 0 !important;
  }
}
